appnope==0.1.2
asgiref==3.5.0
astpretty==2.1.0
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
cognitive-complexity==1.2.0
decorator==5.1.1
Django==4.0.2
django-admin==2.0.1
django-environ==0.8.1
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-extensions==3.1.5
django-six==1.0.4
django-sqlformatter==1.0.3
eradicate==2.0.0
executing==0.8.3
flake8==4.0.1
flake8-blind-except==0.2.0
flake8-builtins==1.5.3
flake8-cognitive-complexity==0.1.0
flake8-commas==2.1.0
flake8-comprehensions==3.8.0
flake8-django==1.1.1
flake8-eradicate==1.2.0
flake8-expression-complexity==0.0.9
flake8-logging-format==0.6.0
flake8-polyfill==1.0.2
flake8-print==4.0.0
flake8-variables-names==0.0.4
ipython==8.1.1
jedi==0.18.1
matplotlib-inline==0.1.3
mccabe==0.6.1
parso==0.8.3
pep8-naming==0.12.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
prompt-toolkit==3.0.28
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.11.2
pytz==2021.3
PyYAML==6.0
screen==1.0.1
six==1.16.0
sqlparse==0.4.2
stack-data==0.2.0
traitlets==5.1.1
wcwidth==0.2.5
xlwt==1.3.0
