{% extends 'junior_hunter/base.html' %}

{% load filters %}

{% block main %}
  <main class="container mt-3">
    <section>
      <!-- Название категории(специализации) -->
      {% if specialty %}
        <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>{{ specialty.title }}</strong></h1>
      {% endif %}

      <!-- кол-во вакансий -->
      <p class="text-center pt-1">{{ object_list|length }} {{ object_list|length|rupluralize:"вакансия,вакансии,вакансий" }} </p>

      <!-- Вакансии -->
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          {% for cur_vacancy in object_list %}
              {% include 'junior_hunter/one_vacancy_card.html' %}
          {% endfor %}
        </div>
      </div>

    </section>
  </main>
{% endblock %}