{% extends 'junior_hunter/base.html' %}

{% load filters %}

{% block main %}
  <main class="container mt-3">
    <div class="navbar mt-5">
      <p><a href="#">Назад</a></p>
    </div>
    <section>
      <div class="text-center">
        <img src="{{ object.logo.url }}" width="130" height="80" alt="https://place-hold.it/130x80">
      </div>
      <h1 class="h1 text-center mx-auto mt-0 pt-1" style="font-size: 70px;"><strong>{{ object.name }}</strong></h1>
      <p class="text-center pt-1">Компания, {{ object.location }}, {{ object.vacancies.all|length }} {{ object.vacancies.all|length|rupluralize:"вакансия,вакансии,вакансий" }} </p>
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          {% for cur_vacancy in object.vacancies.all %}
              {% include 'junior_hunter/one_vacancy_card.html' %}
          {% endfor %}
        </div>
      </div>

    </section>
  </main>
{% endblock %}